body{
    color: #fcfcfc;
    background-color: #111111;
    margin:0 auto;
  	font-family: 'Open Sans','Consolas', 'Microsoft JhengHei', sans-serif;
  	font-size: 17px;
}
html,body{
    height:100%;
}
small {
    color: #555555;
    font-weight: normal;
}

a:link{ color: #a0a0a0; text-decoration: none; transition: 0.3s; }
a:visited{ color: #a0a0a0;}
a:avtice{ color: #a0a0a0;}
a:hover{ color: #ffffff;}
.link-like{ color: #a0a0a0; text-decoration: none; transition: 0.3s; cursor: pointer;}
.link-like:hover{ color: #ffffff; }

h1 {
    font-size: 34px;
    font-weight: normal;
}

/* ...................................COMMON NAVIGATION */

#nav{
    /*height:31px;*/
    padding: 6px 0 0 0;
	width: 100%;
	
	border-bottom:#0e0e0e 4px solid;
	/*background-color:#1e1e1e;*/
}
#nav ul {
	margin: 0 0;
	padding: 0 0;
	display: inline-block;
}
#nav ul>li {
	list-style: none;
	float: left;
}
#nav a {
	margin: 0 0;
	padding: 7.5px 8px 6.5px 8px;
	color: #888888;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	display: inline-block;
	float: left;
	
	transition: 0.2s;
}
#nav a:hover{
    color: #ffffff;
}

/* ...................................PAGE STRUCTURE */

.pull-r{
    float: right !important;
}

.container {
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 95%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
  text-align:right;
}

#license{
    max-height :350px;
    overflow-y : auto;
    overflow-x : hidden;
    margin-bottom : 30px;
}

.page-header{
    text-align: left;
}

.pointer{
    cursor:pointer;
}


/* ...................................FORMS & INPUT */

.form-group{
    margin: 8px;
}

input[type = "text"]{
    color: #444444;
    background-color: #ffffff;
    
    margin: 0;
    padding: 4px 2px;
    border: none;
}
input[type = "text"]:focus{outline: none;}
.textinput {
    color: #444444;
    background-color: #ffffff;
    
    margin: 0;
    padding: 4px 2px;
    border: none;
    
    transition: 0.2s;
}
.textinput:focus{ outline: none; border-bottom: 4px solid #cccccc;}

label {
    font-size: 14px;
    
    color: #666666;
    font-weight: normal;
}

button {
    padding: 8px 12px;
    
    border: none;
    
    transition: 0.4s;
}
button:hover{ cursor: pointer; }
.rounded { border-radius: 4px; }

.btn-large{ font-size: 14px; font-weight: bold;}

.btn-blu { color: #f0f0f0; background-color: #3366ff; }
.btn-blu:hover { color: #f0faff; background-color: #2447b2; }

.btn-grn { color: #f0f0f0; background-color: #009933; }
.btn-grn:hover { color: #f0faff; background-color: #006b24; }

.btn-red { color: #f0f0f0; background-color: #ff1919; }
.btn-red:hover { color: #f0faff; background-color: #cc0000; }

.btn-wide{ width: 168px;}

/* TABLES */
th {
    font-weight: normal;
    border-bottom: 4px solid #111111;
}



#image-bar{
    width: 100%;
    height: 100px;
    
    background-image: url('http://i.imgur.com/KiKOjd6.jpg');
    background-size: cover;
    background-position: 0 65%;
}

#image-column{
    background-image: url('http://i.imgur.com/KiKOjd6.jpg');
    background-size: cover;
}