body{
    background-color:#141e23;
    color: #fcfaf2;
    margin:0 auto;
  	font-family: 'Consolas','Microsoft JhengHei';
  	font-size: 17px;
}
html,body{
    height:100%;
}

.nav{
    height:31px;
	width: 100%;
	border-bottom:#bdc0ba 1px solid;
	background-color:#000;
}
.nav ul {
	margin: 0 0;
	padding: 0 0;
	display: inline-block;
}
.nav ul>li {
	list-style: none;
	float: left;
}
.nav a {
	margin: 0 0;
	padding: 7.5px 8px 6.5px 8px;
	color: #bdc0ba;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	display: inline-block;
	float: left;
}
.nav a:hover{
    color: #ffffff;
}
.pull-r{
    float: right !important;
}
.container{
   	width:95%;
}

#signin {
  margin-top:40px;
}
#signinlogo{
  height:500px;
  margin-top:32px;
  background-image:url('http://toj.twbbs.org/oj/img/signin.png');
  background-size:contain;
  background-repeat:no-repeat;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
  text-align:right;
}

#license{
    max-height :350px;
    overflow-y : auto;
    overflow-x : hidden;
    margin-bottom : 30px;
}

.AC {
	color: #00cc00;
	font-size: 20px;
}

.WA {
	color: #cc0000;
	font-size: 20px;
}
.NO {
	color: #444444;	
	font-size: 20px;
}
tr:nth-child(odd) {
    background: #101020;
}

tr:nth-child(even) {
    background: #141e23;
}

#jumbotron{
    background-color:rgba(0,0,255,0.1);
    color: #fcfaf2 !important;
}