body{
    /*
    background-color:#141e23;
    color: #fcfaf2;
    */
    color: #fcfcfc;
    background-color: #111111;
    margin:0 auto;
  	font-family: 'Open Sans','Consolas', 'Microsoft JhengHei', sans-serif;
  	font-size: 17px;
}
html,body{
    height:100%;
}

a:link{ color: #b0b0b0; text-decoration: none; transition: 0.2s; font-weight: bold;}
a:visited{ color: #b0b0b0;}
a:avtice{ color: #b0b0b0;}
a:hover{ color: #ffffff;}

#nav{
    /*height:31px;*/
    padding: 4px 0 2px 0;
	width: 100%;
	/*border-bottom:#060606 4px solid;*/
	background-color:#1e1e1e;
}
#nav ul {
	margin: 0 0;
	padding: 0 0;
	display: inline-block;
}
#nav ul>li {
	list-style: none;
	float: left;
}
#nav a {
	margin: 0 0;
	padding: 7.5px 8px 6.5px 8px;
	color: #bdc0ba;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	display: inline-block;
	float: left;
	
	transition: 0.2s;
}
#nav a:hover{
    color: #ffffff;
}
.pull-r{
    float: right !important;
}
.container{
   	width:95%;
}

#signin {
  margin-top:40px;
}
#signinlogo{
  height:500px;
  margin-top:32px;
  background-image:url('http://toj.twbbs.org/oj/img/signin.png');
  background-size:contain;
  background-repeat:no-repeat;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
  text-align:right;
}

#license{
    max-height :350px;
    overflow-y : auto;
    overflow-x : hidden;
    margin-bottom : 30px;
}

#jumbotron{
    background-color:rgba(0,0,0,0);
    color: #fcfaf2 !important;
}

#user_view_avater{
    width:100%;
    height: auto;
    display: block;
}

#cover {
    width: 100%;
    height: 418px;
    background-size: cover;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 0;
}

.pointer{
    cursor:pointer;
}