/js/MathJax/
/config/config.php
/data/cache/*.cache
/data/codepad/*.code
/data/problem/*
!/data/problem/.gitkeep
/LocalSetting.php
/data/private/*.tmp
/data/cachehtml/*.html
function/plugins/rank/board_other_oj/cf_api_key.php
/tools/*.txt
.vscode

composer.lock
composer.phar
/vendor/
tools.php