.icon-bttn{
    font-size: 14px;
    margin: 0 2px;
    
    color: #999999;
    transition: 0.2s;
}
.icon-bttn:hover{
    cursor: pointer;
    color: #ffffff;
}
.AC {
	color: #00cc00;
	font-size: 20px;
}

.WA {
	color: #cc0000;
	font-size: 20px;
}
.NO {
	color: #444444;	
	font-size: 20px;
}

tr{
    border: 0;
    transition: 0.2s;
}
tr:nth-child(odd) {
    background: #222222;
}

tr:nth-child(even) {
    background: #282828;
}
/*
tr:hover{
	background-color:#363636;
	color:#FFF;
}
*/