
.AC {
    width: 50px;
	color: #00cc00;
	font-size: 20px;
}

.WA {
    width: 50px;
	color: #cc0000;
	font-size: 20px;
}
.NO {
    width: 50px;
	color: #444444;	
	font-size: 20px;
}

table {
    border-collapse: collapse;
}
#cbtable{
    display: inline-block;
    overflow:auto;
    margin-left: 160px;
    width: calc( 100% - 160px );
    background: #1A1A1A;
}
tr{
    border: 0;
    transition: 0.2s;
}

tr .label{ width: 80px; }


th { text-align: left; }
td { padding: 0 4px;}


.page-nav > li {
    display: inline-block;
}

.nickname {
    width : 120px;
    white-space : nowrap;
    overflow:hidden;
    text-overflow : ellipsis;
}
.nickname:hover {
    text-overflow:inherit;
    overflow:visible;
}
.problemname{
    color:rgb(255,246,157);
}
.problemname > a:link {
    color:rgb(255,246,157) !important;
}
.problemname > a:visited {
    color:rgb(255,246,157) !important;
}
#svchange {
    color : white;
}