.icon-bttn{
    font-size: 14px;
    margin: 0 2px;
    
    color: #999999;
    transition: 0.2s;
}
.icon-bttn:hover{
    cursor: pointer;
    color: #ffffff;
}
.AC {
    width: 50px;
    /*text-align: right;*/
	color: #00cc00;
	font-size: 20px;
}

.WA {
    width: 50px;
    /*text-align: right;*/
	color: #cc0000;
	font-size: 20px;
}
.NO {
    width: 50px;
    /*text-align: right;*/
	color: #444444;	
	font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr{
    border: 0;
    transition: 0.2s;
}
tr:nth-child(odd) {
    background: #222222;
}

tr:nth-child(even) {
    background: #282828;
}
tr:hover{
    background-color:#317082;
}
tr .label{ width: 80px; }


th { text-align: left; }
td { padding: 0 4px;}


.page-nav > li {
    display: inline-block;
}

.nickname {
    width : 120px;
    white-space : nowrap;
    overflow:hidden;
    text-overflow : ellipsis;
}
.nickname:hover {
    text-overflow:inherit;
    overflow:visible;
}
