#license{
    background-color: #0c0c0c;
    text-align: left;
}

#jumbotron{
    min-height: 300px;
    background-color:rgba(0,0,0,0);
    color: #f0f0f0 !important;
    overflow: hidden;
}

#user_view_avater{
    width: 100%;
    height: auto;
    display: inline-block;
}

#cover {
    width: 100%;
    height: 418px;
    background-size: cover;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 0;
}
/*
.avatar-box {
    display: block;
    box-sizing: border-box;
    width: 25%;
    float: left;
    position: relative;
    min-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
}
*/
#dispaly{
    transition : 0.2s;
}
.login_form
{
    background-color:rgba(147,147,147,0.47);
    border-radius: 25px;
}

.loginbody
{
    background-image : url('http://i.imgur.com/4HO4W6L.jpg');
    background-size: cover;
    background-position : 0 60%;
}

.registerbody
{
    background-image : url('http://i.imgur.com/I9fosHb.jpg');
    background-size: cover;
    background-position : 0 60%;
}


.login_lable_text
{
    color : #242424;
}

.login_sub_title,.white-text
{
    color : #FFF;
}

.login_comment
{
    color : #373737;
}

.nav-pills>li>a:hover
{
    background-color:#317082;
    transition : 0.3s;
}

#panel
{
    background-color : #1A1A1A;
    border-radius: 4px;
}
