#title-blok {
    width: 100%;
    height: 600px;
    
    padding-top: 40px;
    
    color: #444444;
    background-color: #ffffff;
    
    background-image: url('//i.imgur.com/1JlNX0n.jpg');
    background-size: cover;
}

#title-text {
    color: #ffffff;
    
    font-size: 72px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 40px 0;
}

#title-text {

}